**
!docker/
!docker/**
!deploy/
!deploy/seed_runtime_volume.py
!apps/
!apps/website/
!apps/website/scripts/
!apps/website/scripts/export-livery.mjs
!apps/website/scripts/apply-livery.py
!apps/website/src/
!apps/website/src/lib/
!apps/website/src/lib/artwork-bounds.mjs
!apps/website/LIVERY-EXPORT.md
!apps/mini-livery/
!apps/mini-livery/README.md
!apps/mini-livery/BarlowCondensed-OFL.txt
!AGENTS.md
!requirements/
!requirements/**
!src/
!src/**
!scripts/
!scripts/**
!tests/
!tests/**
!assets/
!assets/fonts/
!assets/fonts/**
!pyproject.toml
!LICENSE
!THIRD_PARTY.md
!README.md
**/__pycache__/**
**/*.pyc
