**
!docker/
!docker/**
!deploy/
!deploy/seed_runtime_volume.py
!requirements/
!requirements/**
!src/
!src/**
!scripts/
!scripts/**
!tests/
!tests/**
!assets/
!assets/fonts/
!assets/fonts/**
!pyproject.toml
!LICENSE
!THIRD_PARTY.md
!README.md
**/__pycache__/**
**/*.pyc
