**
!docker/
!docker/**
!requirements/
!requirements/**
!src/
!src/**
!scripts/
!scripts/**
!tests/
!tests/**
!assets/
!assets/fonts/
!assets/fonts/**
!pyproject.toml
!LICENSE
!THIRD_PARTY.md
!README.md
**/__pycache__/**
**/*.pyc
